//large-6.css
  

* { font-family: 'Sarabun', sans-serif; }

header, nav, main, footer {
    margin: .5rem auto;
    padding: .25rem;
   
}

a {
    text-decoration: none;
}

h1 {
   font-size: 40px;
   text-align : center;
    float : center;
    padding: 0rem;
}

.motto {
    font-size : 20px;
    color : white;
    text-align : center;
    padding: 0rem;
    margin-left : auto;
    margin-right : auto;
}

header {
    width: 100%;
    background-color: #3C6E71;
    color : white;
	border: 1px solid #bbb;
    text-align: center;
    line-height: 8px;  
    font-family: 'Sarabun', sans-serif;
    margin-left : auto;
    margin-right : auto;
     
}

header img, .headings {
	display: inline-block;
	vertical-align: middle;
    height: 100px; 
    width: auto;
}




a:link {
    text-decoration: none;
}

a:active {
    color: #3C6E7;
}

a:hover {
    color: teal;
}

#active{
    color:teal;
}

.hero {
    display:flex;
    flex-flow: row nowrap;
    padding: 0;
    margin: 0 .5rem 0 .5rem;
    width: 100%;
    background-color: black;
    overflow: hidden;
}
.hero img {
    display: flex;
    z-index: 0;
    object-fit: cover;
    height: 100%;
    margin: 0;
    padding: 0;
}

.summary {
    float: left;
    position: absolute;
    margin-left: 1rem;
    margin-top: 1rem;
    padding: .5rem; 
    width: 40%;
    height: 30%;
    text-align: left;
    font-size: 1.1rem;
    background-color : white;
    text-align : center;
    line-height: 3px;

}

article {
    width : 90%;
    height: 300px;
    background-color : #BED8D4;
    color : black;
    margin: 1rem auto;
    padding: 1rem;
    text-align : left;
    line-height: 3px;
    margin-left : auto;
    margin-right : auto;
}

article img {
    display: block;
    float: right;
    height: 70%;
    margin-top: -30px;
}

.contact {
    width : 95%;
    height: 250px;
    background-color : #BED8D4;
    color : black;
    margin: .5rem auto;
    padding: 1rem;
    text-align : left;
    line-height: 3px;
  
}
.contact img {
 display: block;
 float: right;
 height: 90%;
 margin-top: -150px;
}

footer {
    width : 95%;
    height: 50px;   
    background-color : #3C6E71;
    color : white;
    margin: 0 auto;
    padding: 1rem;
    text-align : left;
    line-height: 3px;
    text-align: center;
}
@media screen and (min-width: 0px) {
     
    .forecast {
        display : none;
    }

    .navigation {
        display: none;
    }

    .menubutton
     {
        display : block;
        font-size : 30px;
        background-color : #BED8D4;
        color : black;
        margin: 0rem auto;
        padding: 1rem;
        text-align : center;
       
    }
    .navlinks{
        display:none;
        list-style-type: none;
        margin: 0;
        padding: 0;
    }
    .navlinks_show{
        display:block;
        list-style-type: none;
        margin: 0;
        padding: 0;
    }



 /* Large devices (laptops/desktops, 992px and up) */
 @media screen and (min-width: 800px) { 
     .menubutton {
         display: none;
     }

     .forecast {
        display: block;
        margin: 2rem;
        padding: 2rem;
        width: 100%;
        height: auto;
        text-align: center;
        margin-left: auto;
        margin-right: auto;
        }
         
    table, tr, th {
         color:black; 
         border: 1px solid #f3f5e9;
         background-color: #BED8D4;
         margin-left: auto;                
         margin-right: auto;
         }
           
    table {
          width: 50%;
          margin-left: auto;
          margin-right: auto;
           }

    .navigation {
            margin: 0rem;
            display: inline-block;
            text-align : center;
            font-family: 'Sarabun', sans-serif;
            font-size : 15px;
            color : #656565;
            background: #BED8D4;
            width: 100%;
        }

    nav li {
        display:inline-block;
        background-color: #BED8D4;

    }

    nav a {
        display: inline-block;
        padding: .5rem;
        color: #656565;
        background: #BED8D4;
        }

    .navlinks{
            display: block;
            list-style-type: none;
            margin: 0;
            padding: 0;
        }
    .navlinks_show{
            display: block;
            list-style-type: none;
            margin: 0;
            padding: 0;
        }
    }