/* Large devices (laptops/desktops, 961px and up) */
 @media screen and (min-width: 961px) { 

/*-------------- Menu Styling-------------*/

nav li {
    font-size: 25px;  
}

/*-------------- Gallery Styling-------------*/
.wrapper {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}

.wrapper figure:hover {
    box-shadow: 0 .5rem 1rem #666666;
}

.templeAct {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-row-gap: 1fr;
    width: 80%;
    height: auto;

}

/*-------------- Article Styling-------------*/

 .temple img {
     width: 45%;
     height: auto;
 }

 .hero {
     float: right;
     width: 54%;

 }


  .smallTemp {
    display: none;
}


  
}