/* Large devices (laptops/desktops, 961px and up) */
 @media screen and (min-width: 961px) { 

/*-------------- Navigation Styling for Large View -------------*/
nav li {
    font-size: 25px;  
}

/*-------------- Home Page Styling for Large View -------------*/
.hero {
    float: right;
    width: 54%;
}

.temple img {
    width: 45%;
    height: auto;
}

.templeAct, .templeActTwo {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-row-gap: 1rem;
    width: 80%;
    height: auto;
}

.smallTemp {
    display: none;
}

/*-------------- Temple Page Styling for Large View -------------*/
#templeInfo {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-row-gap: 1rem;
    grid-column-gap: 1rem;

}

/*-------------- Services Page Styling for Large View -------------*/
.service h2 {
    text-align: left;
 }

.service li {
   text-align: left;
}

/*-------------- Missionary Suite Page Styling for Large View -------------*/
.hotelImg {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-row-gap: 1rem;
    width: 90%;
    height: auto;
}  
}