* {
    font-family: 'Montserrat', 'sans-serif';
 }

/*-------------- Header  Styling -------------*/
header, nav, main, footer {
    margin: .2rem;
    padding: .2rem;  
}

h1 {
    font-size: 35px;
    text-align : center;
    padding: 0rem;
}

h2 {
    margin-top: 0rem;
    color: #7a1616;
    font-size: 30px;
}

h3 {
    color: #7a1616;
    font-size: 25px;
}

h4 {
    color: #7a1616;
    font-size: 20px;
}

h5 {
    color: #7a1616;
    font-size: 18px;
}


ul {
    list-style-type : none;
    text-decoration: none;
    padding : 0em;
    margin : 0em;
    line-height : 50px;
}

a {
    
    color: #7a1616;
}

.motto h3 {
    font-size: 15px;
    color: white;
    text-align: center;
    padding: 0rem;
    margin-left: auto;
    margin-right: auto;
}

header {
    display: flex;
    justify-content: center;
    background-color: #7a1616;
    color: white;
	text-align: center;
    line-height: 8px;  
    margin-left: auto;
    margin-right: auto;  
}

.headings {
    padding: 2rem;
    height: 80px; 
    width: auto;
    margin-top: .5rem;
    padding: .5rem;
}

.headings h4 {
    color: white;
}


header img {
    height: 80px;
    width: auto;
    margin-top: .5rem;
    padding: 2rem auto;
}




.missHero li, .missHeroTwo li{
    line-height: 30px;
}

.participation {
    display: block;
    margin-left: auto;
    margin-right: auto;
    background-color: #7a1616;
    color: white;
    width: 80%;
    height: auto;
    padding: 1rem;
    line-height: 20px;
    text-align: center;
}

.participation h3, .participation h4 {
    color: white;
}


/*-------------- Navigation  Styling -------------*/
nav {
    text-align : center;
    font-size : 30px;
    color : white;
    background-color : #6f6262;
}

nav a {
    display: block;
    padding: 5px;
    list-style-type: none;
    text-decoration: none;
    border-width: 0px 0px 0px 0px;
    border-style: solid;
    color: white;
}

nav a:active {
    background: #7a1616;
    color: white
}
    
nav a:hover {
    background: #601b1b;
    color: white
}

.active {
    color: white;
    background-color: #601b1b;
}



/*-------------- Page Title  Styling -------------*/
.title {
    text-align: center;
    line-height: 30px;  
    color : #7a1616;
}

/*-------------- Contact  Styling -------------*/
.contact {
    width : 95%;
    height: auto;
    background-color : #6F6262;
    color : black;
    margin: .5rem auto;
    padding: 1rem;
    text-align : left;
    line-height: 5px;
}


.contact img {
    display: block;
    float: right;
    height: 200px;
    width: auto;
    margin-top: -196px;
}

/*-------------- Footer Styling -------------*/
footer {
    width : 95%;
    height: 65px;   
    background-color : #7A1616;
    color : white;
    margin: 0 auto;
    padding: 1rem;
    text-align : left;
    line-height: 3px;
    text-align: center;
}

/*-------------- Form Styling -------------*/

form fieldset {
    margin: .5rem;
    border: 2px dashed #7A1616;
    background-color: rgba(122, 22, 22, 0.482);
    padding: 1rem;
}

form legend {
    color: #7A1616;
    font-size: 30px;
}

form label {
    font-size: 20px;
    line-height: 30px;
}

form label.top, form div {
    display: flex;
    flex-direction: column;
    padding-top: 1rem; 
} 

form label.top input, form label.top select {
    font-size: 1rem;
    padding: .75rem;
    width: 100%;
    max-width: 20rem;
}

form label.sbs {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: .75rem;
    width: 100%;
}

form textarea {
    width: 50%;
    height: 150px;
}
 
form input.submitBtn {
    border: none;
    background-color:#7A1616;
    color: white;
    padding: .75rem;
    font-size: 1.5rem;
}





  .res {
      text-align: center;
  }

  .service h2, .amenities h2 {
      line-height: 2px;
      color: white;
  }

  .service li, .amenities li{
      line-height: 30px;
  }

  .service, .amenities {
    background-color: #7A1616;
    color: white;
    padding: 1rem;
    margin: 1rem;
  }


  .receptionInfo {
      line-height: 20px;
      background-color: #7A1616;
      color: white;
      margin-right: auto;
      margin-left: auto;
      padding: 1rem;
      width: 95%;
      height: auto; 
  }

  .receptionInfo h2 {
      color: white;
  }

.receptionInfo a {
    color:white;
}

.smallCon {
    color: #7A1616;
    text-align: center;
    font-size: 25px;
}

.conInfo{
    font-size: 25px;

}

.recLinks{
    text-align: center;
}

.missHero, .missHeroTwo{
    text-align: center;
}

.hotelImg {
    margin:  1rem auto;
    padding: 0;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-row-gap: 1rem;
    justify-content: center;
}

.hotelImg img {
    width: 90%;
    height: auto;
}

#heroes {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-row-gap: 1fr;
    width: 100%;
    height: auto;
    margin:  1rem auto;
    padding: 0;
    justify-content: center;
}

.tempOne h1, .tempTwo h1, .tempThree h1, .tempFour h1{
    text-align: left;

}

.tempOne, .tempTwo, .tempThree, .tempFour {
    border: 2px dashed #7A1616;
    padding: 1rem;
    margin: 1rem auto;
    
}

#templeInfo li {
    line-height: 20px;
}

#templeInfo h2 {
    padding-top: 1rem;
}

#templeInfo img{
    display: block;
    justify-content: center;
    width: 100%;
    height: auto;
    padding: 1rem auto; 
   
}

/*----------- Small Devices (501px and down ----------*/
@media screen and (max-width: 501px) {

/*-------------- Navigation Styling -------------*/
.navigation {
    display: none;
}

.menubutton {
        display : block;
        font-size : 30px;
        background-color : #7A1616;
        color : white;
        margin: 0rem auto;
        padding: 1rem;
        text-align : center;
    }

.navlinks {
    display: none;
    color: gray;
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.navlinks_show {
    color: gray;
    display: block;
    font-size: 1.5rem;
    list-style-type: none;
    margin: 0;
    padding: 0;
} 
    
.hero {
    text-align: center;
}

.temple img{
    display: block;
    width: 60%;
    height: auto;
    margin-left: auto;
    margin-right: auto;
  }

.templeAct{
    display: none;
}

.templeActTwo{
    display: none;
}

.smallTemp img{
    width: 95%;
    height: auto;
    margin: 1rem auto;
}

.res {
    font-size: 1.5rem;
    text-align: center;
}

.participation {
    text-align: center;
}   

.service h2, .amenities h2 {
    text-align: center;
 }

.service li, .amenities li {
   text-align: center;
}

.receptionInfo {
   text-align: center;
}

.conInfo{
    text-align: center;

}

}