        table {
        margin: 0 auto;
        box-shadow: .5rem .5rem 1rem #628ca6;
        border-collapse: collapse;
         }

        table, th, td {
          font-family: "Ubuntu", sans-serif;
          border: 1px solid black;
          border-collapse: collapse;
        }
        th, td {
          padding: 5px;
          text-align: center;
        }
        thead{
            font-size: 30px;
        }
        tfoot{
            font-size: 10px;
        }
        thead, tfoot {
            background-color: #7fb9c2;
        }
        tr#t01 {
            font-size: 20px;
            background-color: #628ca6;
            color: white;
        }
        tr:nth-child(2) {
            background: #e7f0ed;
        }
        tr:nth-child(3) {
            background: #e7ffed;
        }
        tr:nth-child(4) {
            background: #e7f0ed;
        }
        tr:nth-child(5) {
            background: #e7ffed;
        }
        tr:nth-child(6) {
            background: #e7f0ed;
        }
        tr:nth-child(7) {
            background: #e7ffed;
        }
        td:nth-child(3,7) {
            background: #7fb9c2
        }
      