//large-5.css
  

* { font-family: 'Sarabun', sans-serif; }
 

header, nav, main, footer {
    margin: 0rem auto;
    padding: .25rem;
    max-width : auto;
}

h1 {
   font-size: 40px;
   text-align : center;
    float : center;
    padding: 0rem;
}

.motto {
    font-size : 20px;
    color : white;
    text-align : center;
    float : center;
    padding: 0rem;
}

header {

    background-color: #3C6E71;
    color : white;
	border: 1px solid #bbb;
    text-align: center;
    line-height: 8px;  
    font-family: 'Sarabun', sans-serif;
     
}

header img, .headings {
	display: inline-block;
	vertical-align: middle;
    height: 100px; 
    width: auto;
}

nav {
    font-family: 'Sarabun', sans-serif;
    font-size : 30px;
    color : #656565;
    background-color : #BED8D4;

}

ul {
    list-style-type : none;
    padding : 0em;
    margin : 0em;
}

a  {
    color :  #656565;
}

.title {
    text-align: center;
    line-height: 8px;  
    font-family: 'Sarabun', sans-serif;
    color : #3C6E71

}

a:active, a:hover {
    box-sizing : border-box;
    background: rgb(64, 168, 174);
    color: white
   
  }

  .town img{
     width : 900px;
     height : auto;
    display : block;
    margin-left : auto;
    margin-right : auto;

  }

.summary {
    width : 200px;
    height: 150px;
    position : relative;
    top: -330px;
    left: -280px;
    background-color : white;
    margin: 0rem auto;
    padding: .25rem;
    text-align : center;
    line-height: 3px;

}

.forecast {
    position : relative;
    top: -150px;
    text-align : center;
}

table, tr, th {
    color:black; 
    border: 1px solid #f3f5e9;
    background-color: #BED8D4;
    margin-left: auto;
    margin-right: auto;
  }
  
  table {
      width: 40%;
  }


article {
    width : 800px;
    height: 250px;
    position: relative;
    top: -100px;
    left: 0px;
    background-color : #BED8D4;
    color : black;
    margin: 0rem auto;
    padding: 1rem;
    text-align : left;
    line-height: 3px;
}

article img {
    width : 350px;
    position: relative;
    top: -55px;
    left: 445px;
}

.contact {
    width : 900px;
    height: 200px;
    background-color : #BED8D4;
    color : black;
    margin: .5rem auto;
    padding: 1rem;
    text-align : left;
    line-height: 3px;
    position: relative;
    top: -50px;
    left: 0px;
}

.contact img {
    width : 250px;
    position: relative;
    top: -175px;
    left: 350px;
}

footer {

    width : 900px;
    height: 30px;
    background-color : #3C6E71;
    color : white;
    margin: .5rem auto;
    padding: 1rem;
    text-align : left;
    line-height: 3px;
    position: relative;
    top: -58px;
    left: 0px;
    text-align: center;
}

@media screen and (min-width: 479px) {
    nav a {
        display: block;
        padding: 5px;
        text-decoration: none;
        }

    li {
            display : block;
        }
}

 /* Large devices (laptops/desktops, 992px and up) */
 @media screen and (min-width: 768px) {
    nav a {
        display: inline;
        padding: 5px;
        text-decoration: none;
        }

    li {
            display : inline;
        }
  } 

 